@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    color: #3e3f46;
  }

  html,
  body {
    height: 100%;
    width: 100%;
  }

  #root {
    height: 100%;
    width: 100%;
    background-color: white;
  }

  /* Toast */
  .Toastify__toast-container {
    z-index: 999999 !important;
  }

  /* ====== Toast Box ====== */
  .Toastify__toast {
    width: 80% !important;
    font-size: 14px !important;
    color: #3e3f46;
  }

  /* -------- */

  .btn:hover {
    filter: brightness(0.9);
    cursor: grab;
    transition: all linear 0.2s;
  }

  .btn:active {
    filter: brightness(0.85);
    cursor: grabbing;
    transition: all linear 0.2s;
  }

  .mainShadow {
    box-shadow: 0 0 5px #d3d3d3;
  }

  .shadowForm {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  }

  .csScroll::-webkit-scrollbar {
    width: 5px;
  }

  .csScroll::-webkit-scrollbar-thumb {
    background-color: #3e3f46;
  }

  /* Leaflet */
  .leaflet-control-attribution {
    font-size: 8px;
  }

  .leaflet-routing-container {
    display: none !important;
  }

}

@theme {
  --color-light-background: ;
  --color-mainRed: #f25255;
  --color-mainRedRGB: rgba(242, 82, 85, 0.2);
  --color-mainDark: #3e3f46;
  --color-lime: #00FF00;
  --color-gray: #808080;
  --color-lightGray: #d3d3d3;

  --text-csTiny: 8px;
  --text-csSmall: 10px;
  --text-csNormal: 12px;
  --text-csMedium: 14px;
  --text-csBig: 16px;
  --text-csLarge: 20px;

  --spacing-mainTwoSidePadding: 20px;
  --spacing-twoSidePaddingIntroduction: 20px;
  /* --spacing-topPadding: 40px;
    --spacing-bottomPadding: 40px; */

  --radius-main: 10px;
  --radius-small: 5px;
}